.App {
  text-align: center;
}


.App-header {
  background-color: #e49999;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 138, 138);
}

.App-link {
  color: #61dafb;
}
